body{
    border: 1px solid red
}

.body-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
/* Vehicles navigation mobile */

.vehicles-nav-mobile{
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;


}

    /* Nav Icon */
    .nav-icon-container{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow:
  0 0.4px 2.2px rgba(0, 0, 0, 0.014),
  0 0.9px 5.3px rgba(0, 0, 0, 0.02),
  0 1.8px 10px rgba(0, 0, 0, 0.025),
  0 3.1px 17.9px rgba(0, 0, 0, 0.03),
  0 5.8px 33.4px rgba(0, 0, 0, 0.036),
  0 14px 80px rgba(0, 0, 0, 0.05)
;

      
      
      
    }

    .nav-icon{
        height: 100%;
        padding: 0px 0.5em;
        cursor: pointer;

    }


    .nav-icon-container span{
        width: 3px;
        height: 70%;
        background-color: #ffd500;
        margin-left: 2%;
        margin-right: 2%;
        transform: rotate(20deg);
    }

    /* Vehicles Links */
    .vehicles-links-container{
        height: 70%;
        width: 100%;
        display: flex;

        box-shadow:
  inset 0 -0.4px 2.2px rgba(0, 0, 0, 0.014),
  inset 0 -0.9px 5.3px rgba(0, 0, 0, 0.02),
  inset 0 -1.8px 10px rgba(0, 0, 0, 0.025),
  inset 0 -3.1px 17.9px rgba(0, 0, 0, 0.03),
  inset 0 -5.8px 33.4px rgba(0, 0, 0, 0.036),
  inset 0 -14px 80px rgba(0, 0, 0, 0.05)
;

      
    }


    .vehicles-tab{
        min-width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;
    }
    .vehicle{
        height: 80%;
        width: 30%;
        display: flex;
        align-items: stretch;
        margin-right: 5%;
    }

    .vehicle img{
        width: auto;
        height: 100%;
        cursor: pointer;

    }

    .vehicle svg{
        display: none;
    }

    .hide-tab{
        display: none;
    }

/* Selected vehicle display */
.selected-vehicle-display{
    height: 75vh;
    width: 100%;
    display: flex;
    overflow-x: hidden;
}

.gutter{
    width: 10%;
    height: 100%;
    position: relative;
    z-index: 2;
    background-color: white;
}

.vehicle-display{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1em;
}

        .selected-vehicle{
            height: 70%;
            width: 100%;
            background-image: url(../Photos/Feature/Feature-backgr.jpg);
            background-position: center center;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

        }

        .selected-vehicle img{
            display: block;
            width: auto;
            height: 50%;
            transform: translate(20%, 20%);
            opacity: 0;
            position: relative;
            z-index: 1;
            transition: 500ms ease-in-out;
        }

        .show-selected-vehicle{
            animation: show-vehicle 500ms ease-in-out 1 forwards;
        }

        @keyframes show-vehicle {
            0%{
                transform: translate(100%, 20%);
                opacity: 0;
            }

            100%{
                transform: translate(20%, 20%);
                opacity: 1;
            }
        }

        .rate{
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .rate p{
            font-size: 1.5em;
            font-weight: bold;
            color: #00296b;
        }

        .rate button{
            font-size: 1.5em;
            padding: 0.5em 1em;
            border: none;
            background-color: #fdc500;
            border-radius: 5px;
            color: white;
            text-transform: capitalize;
            cursor: pointer;

        }



/* Selected vehicles information */
.selected-vehicles-infor{
    height: 100vh;
    width: 100%;
    padding: 4em 2em;
    overflow: hidden;
    display: flex;
    align-items: center;
}

    .infor-inner-container{
        width: 100%;
        height: 100%;
        border: 3px solid #fdc500;
        border-left: none;
        border-bottom: none;
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }

    .infor-inner-container::before{
        content: "";
        width: 0px;
        height: 1000%;
        border-left: 3px solid #fdc500;
        position: absolute;
        left: -2px;
        top: -3px;
    }

    .infor-inner-container::after{
        content: "";
        width: 1000%;
        height: 0%;
        border-bottom: 3px solid #fdc500;
        position: absolute;
        right: -3px;
        bottom: -3px;
    }


@media only screen and (max-width: 850px) and (orientation: landscape){
    .vehicles-nav-mobile{
        height: 40vh;
    }

    .selected-vehicle-display{
        height: 200vh;
    }
}


@media only screen 
   and (min-width : 768px) {
       .vehicle{
           width: 20%;
       }
        .gutter{
            width: 20%;
        }
        
        .vehicle-display{
            width: 60%;
        }

        .selected-vehicle img{
            height: 60%;
        }

        .rate p{
            font-size: 2.5em;
        }

        .rate button{
            font-size: 2em;
        }

        .infor-inner-container{
            width: 90%;
            height: 90%;
        }
   }

   @media only screen 
   and (min-width : 768px) and (orientation: landscape){
       .vehicles-nav-mobile{
           height: 25vh;
       }
        .selected-vehicle-display{
            height: 120vh;
        }
   }

@media only screen 
   and (min-width : 1200px) {
    body{
        padding-bottom: 0em;
        height: 100vh;
        max-height: 100vh;
        overflow-y: hidden;
    }
    .body-content{
        height: 80vh;
        flex-direction: row;
    }

    .vehicles-nav-mobile{
        display: flex;
        height: 100%;
        width: 20%;
        border-right: 3px solid #fdc500;
    }

    .nav-icon-container{
        width: 100%;
        height: 10%;
    }

    .nav-icon-container img{
        width: 20%;
        height: auto;
    }

    .vehicles-links-container{
        width: 100%;
        height: 90%;
        box-shadow: none;
    }

    .vehicles-tab{
        flex-direction: column;
    }


    .vehicle{
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        margin-right: 0%;
        border-bottom: 1px solid #00296b;
    }

    .vehicle svg{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        z-index: 1;
    }



    .vehicle img{
        width: 90%;
        height: auto;
        transform: translateX(5em);
        display: block;
        position: relative;
        z-index: 2;
    }




    .selected-vehicle-display{
        width: 50%;
        height: 100%;
    }

    .gutter{
        width: 25%;
    }

    .vehicle-display{
        width: 50%;
    }

    .selected-vehicle img{
        height: 55%;
    }

    .rate p{
        font-size: 1.5em;
    }

    .rate button{
        font-size: 1.5em;
    }



    .selected-vehicles-infor{
        height: 100%;
        width: 30%;
        align-items: flex-end;
        padding-bottom: 0px;
        overflow: visible;
        padding: 0em 2em
    }

    .infor-inner-container{
        height: 94%;
    }

}





   @media only screen 
   and (min-width : 1600px) {

    .gutter{
        width: 20%;
    }

    .vehicle-display{
        width: 60%;
    }

    .selected-vehicle img{
        height: 65%;
    }

    .rate p{
        font-size: 2em;
    }

    .rate button{
        font-size: 2em;
    }
   }
   